@font-face {
  font-family: "iconfont"; /* Project id 4476589 */
  src: url('iconfont.woff2?t=1712045470497') format('woff2'),
       url('iconfont.woff?t=1712045470497') format('woff'),
       url('iconfont.ttf?t=1712045470497') format('truetype'),
       url('iconfont.svg?t=1712045470497#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-06:before {
  content: "\e638";
}

.icon-a-005:before {
  content: "\e63a";
}

.icon-a-008:before {
  content: "\e63b";
}

.icon-a-07:before {
  content: "\e63c";
}

.icon-a-05:before {
  content: "\e63d";
}

.icon-a-003:before {
  content: "\e637";
}

.icon-Vector:before {
  content: "\e63e";
}

.icon-a-007:before {
  content: "\e63f";
}

.icon-a-03:before {
  content: "\e640";
}

.icon-a-004:before {
  content: "\e641";
}

.icon-a-04:before {
  content: "\e642";
}

.icon-a-006:before {
  content: "\e643";
}

.icon-a-02:before {
  content: "\e644";
}

.icon-a-002:before {
  content: "\e645";
}

.icon-a-01:before {
  content: "\e646";
}

.icon-a-08:before {
  content: "\e639";
}

