@font-face {
  font-family: "iconfont"; /* Project id 4476589 */
  src: url('iconfont.woff2?t=1712742423481') format('woff2'),
       url('iconfont.woff?t=1712742423481') format('woff'),
       url('iconfont.ttf?t=1712742423481') format('truetype'),
       url('iconfont.svg?t=1712742423481#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector3:before {
  content: "\e64f";
}

.icon-Vector31:before {
  content: "\e650";
}

.icon-Vector-12:before {
  content: "\e651";
}

.icon-Vector-1:before {
  content: "\e647";
}

.icon-Vector1:before {
  content: "\e648";
}

.icon-Vector-3:before {
  content: "\e649";
}

.icon-Vector-5:before {
  content: "\e64a";
}

.icon-Vector-4:before {
  content: "\e64b";
}

.icon-Vector-2:before {
  content: "\e64c";
}

.icon-Vector2:before {
  content: "\e64d";
}

.icon-Vector-11:before {
  content: "\e64e";
}

.icon-a-06:before {
  content: "\e638";
}

.icon-a-005:before {
  content: "\e63a";
}

.icon-a-008:before {
  content: "\e63b";
}

.icon-a-07:before {
  content: "\e63c";
}

.icon-a-05:before {
  content: "\e63d";
}

.icon-a-003:before {
  content: "\e637";
}

.icon-Vector:before {
  content: "\e63e";
}

.icon-a-007:before {
  content: "\e63f";
}

.icon-a-03:before {
  content: "\e640";
}

.icon-a-004:before {
  content: "\e641";
}

.icon-a-04:before {
  content: "\e642";
}

.icon-a-006:before {
  content: "\e643";
}

.icon-a-02:before {
  content: "\e644";
}

.icon-a-002:before {
  content: "\e645";
}

.icon-a-01:before {
  content: "\e646";
}

.icon-a-08:before {
  content: "\e639";
}

